th{
    border: 2px black;
}
body{
    background-color: rgb(86, 208, 167);
}
.required  {
    
    color: red;
}
ol{
    display: flex;
    

}
ol li {
        padding :20px;
    list-style-position: inside;
    background-color: red;
    border: 3px;
}

 ul li {
    display: flex;
    padding: 20px;
list-style: devanagari;
background-color: blueviolet;
list-style-position: inside;
border: 2px solid black;
   color: blue;
}